<!-- <div class="clearfix visible-md-block"></div> -->
<%# cache product do %>
<div class="col-sm-6 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <% logger.debug "Product: #{product.name}" %>
  <h1><%= link_to product.name, product %></h1>
  <blockquote>
    <p><%= product.description %></p>
    <p><%= product.colour %></p>
    <p><%= product.price %></p>
  </blockquote>
</div><!-- /col -->
<%# end %>
