<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>
          <%= @product.name %>
        </strong>
      </p>
      <blockquote>
      <p>
          <%= @product.description %>
      </p>
      <p>
        <strong>Color:</strong>
        <%= @product.colour %>
      </p>
      <p>
        <strong>It can be yours for just $
          <%= @product.price %>
        </strong>  
      </p>
      <p>
        Average Rating: 
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>
      </blockquote>
    </div>
    <div class="col-md-6 foto-producto">
        <%= image_tag @product.image_url %>
    </div>
    <div class="col-md-6 pull-right">
      <p>
        <%= render 'new_comment' %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <%= render 'comments' %>
        <%= will_paginate @comments %>
      </p>
    </div>
  </div>
</div>

<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <%= hidden_field(:product_id, :value => @product_id) %>
<% end %> -->
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
